html,
body {
      height: 100vh;
}

@font-face {
      font-family: 'customfont';
      src: url('https://github.com/cwilliamson29/top-cv-project/blob/f1c50d0f103904f7503630e31e3d5b3b56b3af36/build/static/media/SpecialElite-Regular.cefed1373df28714f8e5.ttf');
}

.fill {
      min-height: 100vh;
      height: 100vh;
}

.label-right {
      justify-content: flex-end;
}

.fc {
      font-family: 'customfont';
}