html,
body {
      height: 100vh;
}

@font-face {
      font-family: font-custom;
      src: url('SpecialElite-Regular.ttf');
}

.fill {
      min-height: 100vh;
      height: 100vh;
}

.label-right {
      justify-content: flex-end;
}

.fc {
      font-family: font-custom;
}